.AuthForm
  width: 400px

  label
    display: block
    font-size: $subtitle-font-size
    margin-bottom: $padding

  input
    margin-bottom: $large-padding
    width: 100%
    font-size: $subtitle-font-size
    padding: $small-padding
    border: 1px solid $black

  .ActionButton
    font-size: $title-font-size !important

  .FormError
    color: $red
    font-size: $subtitle-font-size