.Button
  padding: $padding-around
  background-color: transparent
  box-shadow: none
  border: 1px solid $black
  font-size: $font-size / 1.25 !important
  cursor: pointer
  display: flex !important

  &.Small
    padding: $small-padding-around

  &.NoBorder
    border-color: transparent

  .Icon,.icon
    margin-right: $small-padding

    &.NoMargin
      margin-right: 0

  &.NoText
    .Icon,.icon
      margin-right: 0

  &.ActionButton
    border-color: $red
    background: $red
    color: white

    span
      color: inherit

  &.FullWidth
    width: 100%
    justify-content: center

.BackButton
  border: 1px solid $black
  padding: $padding-around
  text-decoration: none
  display: inline-block
  margin-bottom: $large-padding

.ButtonContainer
  display: flex
  justify-content: space-between
  margin-top: $large-padding

  &>div
    display: flex

  .Button, a
    margin-left: $large-padding
    height: 41px


    &:first-child
      margin-left: 0

@media only screen and (max-width: 600px)
  .ButtonContainer
    justify-content: flex-start
    flex-direction: row-reverse

    .Button
      margin-left: $padding !important

  .AddChecklistButton
    min-width: auto !important


