.Button
  padding: $padding-around
  background-color: transparent
  box-shadow: none
  border: 1px solid $black
  font-size: $font-size / 1.25 !important
  cursor: pointer

  .Icon
    margin-right: $small-padding

  &.NoText
    .Icon
      margin-right: 0

.BackButton
  border: 1px solid $black
  padding: $padding-around
  text-decoration: none
  display: inline-block
  margin-bottom: $large-padding