.CheckListItemView
  padding: 0 25%
  padding-top: 15vh

  .CheckListItems
    list-style: none
    padding: 0

    input
      margin-right: $large-padding

  .CheckListItem
    font-size: 2em

    label
      display: flex
      align-items: center

  .CheckListDescription
    font-size: 2em

.CheckListTitle
  font-size: $title-font-size
  font-weight: normal
  margin: 0
  margin-bottom: .25em

  &.Small
    font-size: $subtitle-font-size

.CheckListDescription
  font-size: $subtitle-font-size
  margin: 0
  margin-bottom: 1em
  font-weight: normal
  width: 100%

  &.Small
    font-size: $font-size

.CheckListForm
  font-family: "IM Fell English"
  color: $black

  input, textarea
    border: none
    resize: none

    &:active
      border: none
