.CheckListListView
  padding: 0 25%
  padding-top: 10vh

  .CheckListList
    list-style: none
    padding: 0
    border: 1px solid $black
    border-width: 0

    .CheckListListItem
      display: flex
      justify-content: space-between
      border: 1px solid $black
      border-width: 0
      border-bottom-width: 1px
      border-collapse: collapse
      padding: $padding $padding

      &:last-child
        border-width: 0

      .CheckListTitle
        margin: 0
        margin-bottom: $small-padding

      .CheckListDescription
        margin: 0
        font-size: 18px

      .CheckListDetails
        flex: 1

      .Actions
        flex: 1
        display: flex
        justify-content: flex-end
        align-items: center

        .Button
          margin-left: $padding