.CheckListListView
  padding: 0 25%
  padding-top: 5vh

  .CheckListList
    list-style: none
    padding: 0
    border: 1px solid $black
    border-width: 1px 0 0 1px

    .CheckListListItem
      display: flex
      justify-content: space-between
      border: 1px solid $black
      border-width: 0 1px 1px 0
      border-collapse: collapse
      padding: $padding $large-padding

      .CheckListTitle
        margin: 0
        margin-bottom: $small-padding

      .CheckListDescription
        margin: 0

      .CheckListDetails
        flex: 1

      .Actions
        flex: 1
        display: flex
        justify-content: flex-end
        align-items: center

        .Button
          margin-left: $padding