.CheckListItemView
  padding: 0 25%
  padding-top: 15vh

  .CheckListItems
    list-style: none

  .CheckListItem
    font-size: 2em


  .CheckListDescription
    font-size: 2em

.CheckListTitle

.CheckListDescription
  font-size: 1.25em

.CheckListForm
  font-family: "IM Fell English"
  color: $black

  input
    border: none

    &:active
      border: none

  .TitleInput
    font-size: 3em

  .DescriptionInput
    font-size: 1.25em