.Form
  .InputGroup
    margin-bottom: $padding

    label
      font-size: $large-font-size
      &.Error
        color: $red

    input
      border: 1px solid $black
      box-shadow: none
      outline: none
      padding: 0 !important

    input, textarea
      width: 100%
      font-size: $font-size

      &.Error
        border-color: $red
        color: $red

    textarea
      resize: none

    ul
      list-style: none

      li

  .FieldArrayInputGroup

    &.InputGroup
      margin-bottom: 0

    .InputBlock
      display: flex
      justify-content: space-between

    input, textarea
      flex: 1
      font-size: $large-font-size
      border: none
      padding: 0

      &:active,&:focus
        border-color: transparent !important

    .Button
      margin-right: $padding

      &:disabled
        cursor: default

        .Icon
          color: transparent

  p.Error
      color: $red

@media only screen and (max-width: 600px)
  .Form