.HeroTitle
  font-size: 50px !important
  font-family: $title-font
  font-weight: normal

.HeroSubTitle
  font-size: 20px !important
  font-family: $font
  font-weight: normal

.Title
  font-size: 22px !important
  font-family: $title-font
  font-weight: normal

p
  font-size: 18px !important
  font-family: $font
  font-weight: normal

.TitleFont
  font-family: $title-font
  font-weight: normal