.HeroTitle
  font-size: 50px !important
  font-family: $title-font
  font-weight: normal

.HeroSubTitle
  font-size: 28px !important
  font-family: $font
  font-weight: normal

.Title
  font-size: 26px !important
  font-family: $title-font
  font-weight: normal
  margin-top: 0 !important

p
  font-size: 22px !important
  font-family: $font
  font-weight: normal

.TitleFont
  font-family: $title-font
  font-weight: normal