$padding: 20px
$small-padding: $padding / 2
$large-padding: $padding * 2

$padding-around: $small-padding $padding

$black: #333
$faded-black: #666

$font-size: 20px
$title-font-size: 2 * $font-size
$subtitle-font-size: 1.5 * $font-size