$padding: 20px
$small-padding: $padding / 2
$extra-small-padding: $padding / 3
$large-padding: $padding * 2

$small-padding-around: $extra-small-padding $small-padding
$padding-around: $small-padding $padding

$black: #333
$faded-black: #666
$white: white
$red: #e64545

$font-size: 20px
$title-font-size: 2 * $font-size
$subtitle-font-size: 1.5 * $font-size