$font: "Sen"
$title-font: "titlefont", "Cooper Lt BT", "sans-serif"


$padding: 20px
$small-padding: $padding / 2
$extra-small-padding: $padding / 3
$large-padding: $padding * 2
$extra-large-padding: $padding * 4

$small-padding-around: $extra-small-padding $small-padding
$padding-around: $small-padding $padding

$black: #333
$faded-black: #666
$white: white
$red: #e64545
$light-gray: #cecece
$blue: #288A8A
$gray: #444447

$font-size: 20px
$large-font-size: 32px
$title-font-size: 50px
$subtitle-font-size: 1.5 * $font-size