@font-face {
  font-family: "titlefont";
  src: url("https://checkmate.best/static/fonts/titlefont.ttf") format("truetype");
}
html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Montserrat", "Arial", "sans-serif";
}

nav.Nav {
  display: flex;
  justify-content: center;
  padding: 20px;
  position: absolute;
  width: 100%;
  z-index: 100;
  background: #333;
}
nav.Nav .Logo {
  max-height: 50px;
  height: 50px;
}

section.Section {
  padding: 75px 20px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.Section .SectionContent {
  max-width: 1000px;
  margin: auto;
}
section.Section#HeroSection {
  background-image: linear-gradient(45deg, #4a3cff 0%, #b945dd 40.13%, #e3772e 90%);
  color: white;
  text-align: center;
  padding: 200px 20px 100px 20px;
}
section.Section#HeroSection * {
  position: relative;
  z-index: 10;
}
section.Section#HeroSection .Stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
section.Section#HeroSection .Star {
  position: absolute;
  width: 20px;
  z-index: 1;
}
section.Section#HeroSection .Star:nth-child(1) {
  top: 59%;
  left: 12%;
  width: 28px;
}
section.Section#HeroSection .Star:nth-child(2) {
  top: 42%;
  left: 25%;
  width: 23px;
}
section.Section#HeroSection .Star:nth-child(3) {
  top: 28%;
  left: 28%;
  width: 40px;
}
section.Section#HeroSection .Star:nth-child(4) {
  top: 62%;
  left: 68%;
  width: 31px;
}
section.Section#HeroSection .Star:nth-child(5) {
  top: 39%;
  left: 39%;
  width: 36px;
}
section.Section#HeroSection .Star:nth-child(6) {
  top: 42%;
  left: 29%;
  width: 30px;
}
section.Section#HeroSection .Star:nth-child(7) {
  top: 62%;
  left: 26%;
  width: 24px;
}
section.Section#HeroSection .Star:nth-child(8) {
  top: 23%;
  left: 30%;
  width: 32px;
}
section.Section#HeroSection .Star:nth-child(9) {
  top: 13%;
  left: 22%;
  width: 21px;
}
section.Section#HeroSection .Star:nth-child(10) {
  top: 77%;
  left: 22%;
  width: 31px;
}
section.Section#UsersSection {
  text-align: center;
}
section.Section#UsersSection .Users {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
section.Section#UsersSection .Users .User {
  flex: 1;
  padding: 20px;
}
section.Section#UsersSection .Users img {
  height: 150px;
}
section.Section#UsersSection .Users p {
  margin-top: 20px;
}
section.Section#UsersSection .Users .SmallSectionTitle {
  font-family: "titlefont", "Cooper Lt Bt", "sans-serif";
  margin-top: 20px;
}
section.Section#Checklists {
  text-align: center;
  background-color: #F9E63A;
}
section.Section#Quote {
  background-color: #444447;
  color: white;
}

section#Quote .HeroTitle {
  text-align: center;
  font-size: 28px;
}
section#Quote #Origin {
  font-size: 16px;
  text-align: right;
  margin-top: 16px;
}

section#Comparison p {
  margin-top: 40px;
  font-size: 20px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
}

.HeroTitle, .SectionTitle {
  font-family: "titlefont", "Cooper Lt Bt", "sans-serif";
}

.HeroSubtitle {
  margin-top: 30px;
}

.HeroTitle {
  font-size: 48px;
}

.SectionTitle {
  font-size: 28px;
}

a {
  text-decoration: none;
  color: inherit;
}

ul.Checklist {
  padding: 0;
}
ul.Checklist li.ChecklistItem {
  display: flex;
  align-items: center;
}
ul.Checklist li.ChecklistItem img {
  margin-right: 20px;
  max-height: 40px;
}
ul.Checklist li.ChecklistItem label {
  display: flex;
  align-items: center;
}
ul.Checklist li.ChecklistItem input[type=checkbox] {
  display: none;
}
ul.Checklist li.ChecklistItem input:not(:checked) ~ img.CheckedCheckbox {
  display: none;
}
ul.Checklist li.ChecklistItem input:checked ~ img.UncheckedCheckbox {
  display: none;
}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.Button {
  padding: 20px 60px;
  border-width: 1px;
  border-style: solid;
  font-family: "Montserrat", "Arial", "sans-serif";
  font-weight: bold;
  display: inline-block;
  margin-top: 100px;
  cursor: pointer;
}
.Button.CTA {
  color: white;
  border-color: #f93a60;
  background-color: #f93a60;
}
.Button.CTA.Inverse {
  background-color: transparent;
  color: #f93a60;
}

@media only screen and (max-width: 600px) {
  .Users {
    flex-direction: column;
  }
  .Users .User {
    margin-bottom: 40px;
  }
  .Users .User:last-child {
    margin-bottom: 0;
  }
}

/*# sourceMappingURL=styles.css.map */
