@font-face
  font-family: "titlefont"
  src: url("https://checkmate.best/static/fonts/titlefont.ttf") format("truetype")

$title-font: "titlefont", "Cooper Lt Bt", "sans-serif"
$regular-font: "Montserrat", "Arial", "sans-serif"

$extra-large-font-size: 48px
$large-font-size: 28px
$regular-font-size: 20px
$small-font-size: 16px

$yellow: #F9E63A
$gray: #444447
$red: #f93a60
$CTA-color: $red


html, body
  margin: 0
  padding: 0

*
  box-sizing: border-box
  font-family: $regular-font

nav.Nav
  display: flex
  justify-content: center
  padding: 20px
  position: absolute
  width: 100%
  z-index: 100
  background: white

  .Logo
    max-height: 40px

section.Section
  padding: 75px 20px
  position: relative
  display: flex
  flex-direction: column
  align-items: center

  .SectionContent
    max-width: 1000px
    margin: auto

  &#HeroSection
    background-image: linear-gradient(45deg, #4a3cff 0%, #b945dd 40.13%, #e3772e 90%)
    color: white
    text-align: center
    padding: 200px 20px 100px 20px

    *
      position: relative
      z-index: 10

    .Stars
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 1

    .Star
      position: absolute
      width: 20px
      z-index: 1

    @for $i from 1 through 10
      .Star:nth-child(#{$i})
        top: random(70) * 1% + 10%
        left: (random(70) * 1%) + 10%
        width: 20 + random(20) + px

  &#UsersSection
    text-align: center

    .Users
      margin-top: 40px
      display: flex
      justify-content: space-around

      .User
        flex: 1
        padding: 20px

      img
        height: 150px

      p
        margin-top: 20px

      .SmallSectionTitle
        font-family: $title-font
        margin-top: 20px

  &#Checklists
    text-align: center
    background-color: $yellow

  &#Quote
    background-color: $gray
    color: white

section#Quote
  .HeroTitle
    text-align: center
    font-size: $large-font-size

  #Origin
    font-size: $small-font-size
    text-align: right
    margin-top: $small-font-size

section#Comparison
  p
    margin-top: 40px
    font-size: $regular-font-size


h1, h2, h3, h4, h5, h6, p
  margin: 0
  font-size: $regular-font-size
  font-weight: normal

.HeroTitle, .SectionTitle
  font-family: $title-font

.HeroSubtitle
  margin-top: 30px

.HeroTitle
  font-size: $extra-large-font-size

.SectionTitle
  font-size: $large-font-size

a
  text-decoration: none
  color: inherit

ul.Checklist
  padding: 0

  li.ChecklistItem
    display: flex
    align-items: center

    img
      margin-right: 20px
      max-height: 40px

    label
      display: flex
      align-items: center

    input[type=checkbox]
      display: none
    input:not(:checked) ~ img.CheckedCheckbox
      display: none
    input:checked ~ img.UncheckedCheckbox
      display: none


.ButtonContainer
  display: flex
  justify-content: center

.Button
  padding: 20px 60px
  border-width: 1px
  border-style: solid
  font-family: $regular-font
  font-weight: bold
  display: inline-block
  margin-top: 100px
  cursor: pointer

  &.CTA
    color: white
    border-color: $CTA-color
    background-color: $CTA-color

    &.Inverse
      background-color: transparent
      color: $CTA-color





@media only screen and (max-width: 600px)
  .Users
    flex-direction: column

    .User
      margin-bottom: 40px

      &:last-child
        margin-bottom: 0