.CheckListListView {
  padding: 0 25%;
  padding-top: 5vh; }
  .CheckListListView .CheckListList {
    list-style: none;
    padding: 0;
    border: 1px solid #333;
    border-width: 1px 0 0 1px; }
    .CheckListListView .CheckListList .CheckListListItem {
      display: flex;
      justify-content: space-between;
      border: 1px solid #333;
      border-width: 0 1px 1px 0;
      border-collapse: collapse;
      padding: 20px 40px; }
      .CheckListListView .CheckListList .CheckListListItem .CheckListTitle {
        margin: 0;
        margin-bottom: 10px; }
      .CheckListListView .CheckListList .CheckListListItem .CheckListDescription {
        margin: 0; }
      .CheckListListView .CheckListList .CheckListListItem .CheckListDetails {
        flex: 1; }
      .CheckListListView .CheckListList .CheckListListItem .Actions {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .CheckListListView .CheckListList .CheckListListItem .Actions .Button {
          margin-left: 20px; }

.CheckListItemView {
  padding: 0 25%;
  padding-top: 15vh; }
  .CheckListItemView .CheckListItems {
    list-style: none;
    padding: 0; }
    .CheckListItemView .CheckListItems input {
      margin-right: 40px; }
  .CheckListItemView .CheckListItem {
    font-size: 2em;
    margin-bottom: 20px;
    display: block; }
    .CheckListItemView .CheckListItem label {
      display: flex;
      align-items: center; }
  .CheckListItemView .CheckListDescription {
    font-size: 2em; }

.CheckListTitle {
  font-size: 40px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 0.25em; }
  .CheckListTitle.Small {
    font-size: 30px; }

.CheckListDescription {
  font-size: 30px;
  margin: 0;
  margin-bottom: 1em;
  font-weight: normal;
  width: 100%; }
  .CheckListDescription.Small {
    font-size: 20px; }

.CheckListForm {
  font-family: "IM Fell English";
  color: #333; }
  .CheckListForm input, .CheckListForm textarea {
    border: none;
    resize: none; }
    .CheckListForm input:active, .CheckListForm textarea:active {
      border: none; }

.Button {
  padding: 10px 20px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #333;
  font-size: 16px !important;
  cursor: pointer; }
  .Button.Small {
    padding: 6.6666666667px 10px; }
  .Button .Icon {
    margin-right: 10px; }
  .Button.NoText .Icon {
    margin-right: 0; }
  .Button.ActionButton {
    border-color: #e64545;
    background: #e64545;
    color: white; }
  .Button.FullWidth {
    width: 100%; }

.BackButton {
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 40px; }

.ButtonContainer {
  display: flex; }

.AuthForm {
  width: 400px; }
  .AuthForm label {
    display: block;
    font-size: 30px;
    margin-bottom: 20px; }
  .AuthForm input {
    margin-bottom: 40px;
    width: 100%;
    font-size: 30px;
    padding: 10px;
    border: 1px solid #333; }
  .AuthForm .ActionButton {
    font-size: 40px !important; }
  .AuthForm .FormError {
    color: #e64545;
    font-size: 30px; }

.AuthView {
  display: flex;
  justify-content: center;
  padding-top: 15vh; }

html, body {
  margin: 0;
  padding: 0; }

*:not(i) {
  font-family: "IM Fell English" !important;
  box-sizing: border-box;
  color: #333; }

a:hover {
  color: #333 !important; }

.Title {
  font-size: 40px; }

/*# sourceMappingURL=styles.css.map */
