@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap')

@import sass/vars
@import sass/checklist-list
@import sass/checklist-detail
@import sass/buttons
@import sass/auth
@import sass/view
@import sass/nav
@import sass/forms
@import sass/onboarding
@import sass/texts
@import sass/icon

html, body
  margin: 0
  padding: 0

*:not(i)
  box-sizing: border-box
  color: $black

a:hover
  color: $black !important

input, textarea, button
  outline: none
