@import sass/vars
@import sass/checklist-list
@import sass/checklist-detail
@import sass/buttons
@import sass/auth
@import sass/view

html, body
  margin: 0
  padding: 0

*:not(i)
  font-family: "IM Fell English" !important
  box-sizing: border-box
  color: $black

a:hover
  color: $black !important


.Title
  font-size: $title-font-size