@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");
.TitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
.TitleContainer .Title, .TitleContainer .HeroTitle {
  margin: 0;
}
.TitleContainer .ButtonContainer {
  margin-top: 0;
}

.ChecklistListView {
  padding-top: 10vh;
}
.ChecklistListView .ChecklistList {
  list-style: none;
  padding: 0;
  border: 1px solid #333;
  border-width: 0;
}
.ChecklistListView .ChecklistList .ChecklistListItem {
  display: flex;
  justify-content: space-between;
  border: 1px solid #cecece;
  border-width: 0;
  border-bottom-width: 1px;
  border-collapse: collapse;
  padding: 20px 0;
}
.ChecklistListView .ChecklistList .ChecklistListItem:last-child {
  border-width: 0;
}
.ChecklistListView .ChecklistList .ChecklistListItem .ChecklistTitle {
  margin: 0;
  margin-bottom: 10px;
}
.ChecklistListView .ChecklistList .ChecklistListItem .ChecklistDescription {
  margin: 0;
  font-size: 18px;
}
.ChecklistListView .ChecklistList .ChecklistListItem .ChecklistDetails {
  flex: 2;
}
.ChecklistListView .ChecklistList .ChecklistListItem .Actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ChecklistListView .ChecklistList .ChecklistListItem .Actions .Button {
  margin-left: 20px;
}

@media only screen and (max-width: 600px) {
  .ChecklistListView {
    padding: 0 20px;
    padding-top: 10vh;
  }
  .ChecklistListView .Title {
    font-size: 38.4px;
  }
  .ChecklistListView .Button.ActionButton .Icon {
    margin-right: 0px !important;
  }
  .ChecklistListView .Button.ActionButton .Icon + span.AlwaysShow {
    margin-left: 10px;
  }
  .ChecklistListView .Button.ActionButton span:not(.AlwaysShow) {
    display: none !important;
  }

  .ChecklistListItem {
    flex-direction: column;
    padding: 20px 0 !important;
  }
  .ChecklistListItem .ChecklistDetails {
    margin-bottom: 10px;
  }
  .ChecklistListItem .Actions {
    justify-content: flex-end !important;
  }
  .ChecklistListItem .Actions .Button {
    margin-left: 20px !important;
  }
}
.ChecklistFormView {
  display: flex;
}
.ChecklistFormView > div {
  flex: 2;
}
.ChecklistFormView .ChecklistTips {
  flex: 1;
}
.ChecklistFormView .ChecklistTips .TipsTitle {
  magin-bottom: 20px;
}
.ChecklistFormView .ChecklistTips ul {
  list-style-type: "✔️ ";
  margin: 0;
  padding: 0;
  padding-left: 40px;
}
.ChecklistFormView .ChecklistTips ul li {
  font-size: 20px;
  margin-bottom: 20px;
}

.ChecklistItemView {
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
}
.ChecklistItemView > div {
  flex: 2;
  padding-right: 20px;
}
.ChecklistItemView .ChecklistRunList {
  flex: 1;
  padding-left: 20px;
  position: absolute;
  left: 720px;
  font-weight: normal;
  width: 300px;
}
.ChecklistItemView .ChecklistRunList .Title {
  font-size: 50px !important;
}
.ChecklistItemView .ChecklistRunList ul {
  list-style: none;
  padding: 0;
}
.ChecklistItemView .ChecklistRunList ul li {
  font-size: 20px;
  margin-bottom: 20px;
}
.ChecklistItemView .ChecklistRunList ul li.Active {
  font-weight: bold;
}
.ChecklistItemView ul.ChecklistList, .ChecklistItemView ul.ChecklistItems {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}
.ChecklistItemView ul.ChecklistList label, .ChecklistItemView ul.ChecklistItems label {
  display: flex;
  line-height: 1em;
  align-items: center;
}
.ChecklistItemView ul.ChecklistList .ChecklistItem, .ChecklistItemView ul.ChecklistItems .ChecklistItem {
  font-size: 32px;
  display: flex;
}
.ChecklistItemView ul.ChecklistList .ChecklistItem input[type=checkbox], .ChecklistItemView ul.ChecklistItems .ChecklistItem input[type=checkbox] {
  margin-right: 20px;
}
.ChecklistItemView ul.ChecklistList .ChecklistItem svg, .ChecklistItemView ul.ChecklistItems .ChecklistItem svg {
  margin-left: -10px;
  margin-right: 20px;
}

.ChecklistTitleContainer {
  display: flex;
  padding: 0 !important;
  justify-content: space-between;
  align-items: center;
}

.ChecklistTitle {
  font-weight: normal;
  margin: 0;
}
.ChecklistTitle.Small {
  font-size: 30px;
}

.ChecklistDescription {
  font-size: 30px !important;
  margin: 0;
  font-weight: normal;
  width: 100%;
}
.ChecklistDescription.Small {
  font-size: 18px;
}

.ChecklistForm input.ChecklistTitle {
  font-size: 64px;
  border: none !important;
}
.ChecklistForm input.ChecklistDescription {
  font-size: 30px;
  border: none !important;
  margin-bottom: 40px;
}

.RunEditToggle {
  margin-bottom: 40px;
}

ul.ChecklistRunItems {
  list-style: none;
  margin-top: 24px;
  padding: 0;
}
ul.ChecklistRunItems li {
  display: flex;
  align-items: center;
  height: 35px;
}
ul.ChecklistRunItems li input {
  flex: 1;
}
ul.ChecklistRunItems li .Button {
  width: 35px;
  margin-right: 19px;
  display: flex !important;
  justify-content: center;
}
ul.ChecklistRunItems li label {
  display: flex;
  align-items: center;
  width: 100%;
}
ul.ChecklistRunItems li label .Checkbox {
  margin-right: 20px;
}

@media only screen and (max-width: 600px) {
  .ChecklistItemView {
    padding: 0 20px;
    padding-top: 10vh;
  }
  .ChecklistItemView .ChecklistRunDetails {
    padding: 0;
  }
  .ChecklistItemView .ChecklistTips {
    display: none;
  }
  .ChecklistItemView .ChecklistRunList {
    display: none;
  }
}
.Button {
  padding: 10px 20px;
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #333;
  font-size: 16px !important;
  cursor: pointer;
  display: flex !important;
}
.Button.Small {
  padding: 6.6666666667px 10px;
}
.Button.NoBorder {
  border-color: transparent;
}
.Button .Icon, .Button .icon {
  margin-right: 10px;
}
.Button .Icon.NoMargin, .Button .icon.NoMargin {
  margin-right: 0;
}
.Button.NoText .Icon, .Button.NoText .icon {
  margin-right: 0;
}
.Button.ActionButton {
  border-color: #e64545;
  background: #e64545;
  color: white;
}
.Button.ActionButton span {
  color: inherit;
}
.Button.FullWidth {
  width: 100%;
  justify-content: center;
}

.BackButton {
  border: 1px solid #333;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 40px;
}

.ButtonContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.ButtonContainer > div {
  display: flex;
}
.ButtonContainer .Button, .ButtonContainer a {
  margin-left: 40px;
}
.ButtonContainer .Button:first-child, .ButtonContainer a:first-child {
  margin-left: 0;
}

@media only screen and (max-width: 600px) {
  .ButtonContainer {
    justify-content: flex-start;
    flex-direction: row-reverse;
  }
  .ButtonContainer .Button {
    margin-left: 20px !important;
  }

  .AddChecklistButton {
    min-width: auto !important;
  }
}
.AuthForm {
  width: 400px;
}
.AuthForm .AuthFormTitle {
  font-size: 3em;
  margin-bottom: 2em;
}
.AuthForm .InputGroup {
  margin-bottom: 40px;
}
.AuthForm label {
  display: block;
  font-size: 30px;
  margin-bottom: 20px;
}
.AuthForm input {
  width: 100%;
  font-size: 30px;
  padding: 10px;
  border: 1px solid #333;
}
.AuthForm .ActionButton {
  font-size: 50px !important;
}
.AuthForm .FormError {
  color: #e64545;
  font-size: 30px;
}
.AuthForm .FieldError {
  color: #e64545;
  margin-top: 10px;
}
.AuthForm .AuthLink {
  font-size: 20px;
  margin-top: 20px;
  display: block;
}
.AuthForm .AuthLink p {
  text-align: center;
}

.AuthFeedback {
  text-align: center;
}
.AuthFeedback h1 {
  font-size: 3em;
}
.AuthFeedback h3 {
  font-size: 20px;
  margin-bottom: 3em;
}
.AuthFeedback p {
  font-size: 20px;
}

.AuthView {
  display: flex;
  justify-content: center;
  padding-top: 15vh;
}

.View {
  max-width: 100%;
  width: 720px;
  margin: auto;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .AuthView {
    padding: 0 20px;
    padding-top: 15vh;
  }
}
.Nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  border-bottom: 1px solid #333;
  font-size: 30px;
  position: fixed;
  width: 100%;
  max-width: 100%;
  background: white;
  top: 0;
  left: 0;
  z-index: 10;
}
.Nav .LogoSVG {
  max-height: 1em;
  width: auto;
}
.Nav > div {
  display: flex;
  align-items: center;
  padding: 0 80px;
  flex: 1 0 0;
  height: 100%;
}
.Nav div:nth-child(2) {
  justify-content: center;
}
.Nav div:nth-child(3) {
  justify-content: flex-end;
}
.Nav ul {
  list-style: none;
  padding: none;
  display: flex;
}
.Nav ul li {
  margin-left: 20px;
  font-size: 20px;
}

.NavModal {
  min-height: 80%;
}
.NavModal ul {
  list-style: none;
  padding: 80px 0;
}
.NavModal ul li {
  color: white !important;
  font-size: 32px;
  text-align: center;
  padding: 40px 0;
}

@media only screen and (max-width: 600px) {
  .Nav span.SmallMenu {
    display: block;
  }
  .Nav > div {
    display: flex;
    align-items: center;
    padding: 0 20px;
  }
}
.Form {
  width: 100%;
}
.Form input {
  border: none;
}
.Form .Button:disabled {
  cursor: default;
}
.Form .Button:disabled .Icon {
  color: transparent;
}
.Form .InputGroup {
  margin-bottom: 14px;
  position: relative;
}
.Form .InputGroup .HeroTitle {
  margin-bottom: 0;
}
.Form .InputGroup label.FloatingLabel {
  color: transparent;
  border-right: 1px solid rgba(40, 138, 138, 0.5);
  border-right-color: transparent;
  position: absolute;
  right: 100%;
  margin-right: 10px;
  font-size: 14px;
  padding-right: 20px;
  height: 50px;
  top: 0;
  display: block;
  padding-top: 10px;
  transition: all 0.15s ease-in;
}
.Form .InputGroup input:focus + label.FloatingLabel {
  color: #288A8A;
  border-right-color: rgba(40, 138, 138, 0.5);
}
.Form .InputGroup .Inline {
  display: flex;
}
.Form .InputGroup .Inline label {
  white-space: nowrap;
  margin-right: 20px;
}
.Form .InputGroup label {
  font-size: 20px;
}
.Form .InputGroup label.Error {
  color: #e64545;
}
.Form .InputGroup input {
  border: none;
  box-shadow: none;
  padding: 0 !important;
}
.Form .InputGroup input, .Form .InputGroup textarea {
  width: 100%;
  font-size: 20px;
}
.Form .InputGroup input.Error, .Form .InputGroup textarea.Error {
  border-color: #e64545;
  color: #e64545;
}
.Form .InputGroup textarea {
  resize: none;
}
.Form .InputGroup ul {
  list-style: none;
}
.Form .InputGroup .InputWithButton {
  display: flex;
}
.Form .InputGroup .InputWithButton input {
  border-right: 0;
}
.Form .InputGroup .InputWithButton .Button {
  background: #e64545;
  border: 1px solid #e64545;
  border-left: 0;
  color: white;
}
.Form .FieldArrayInputGroup.InputGroup {
  margin-bottom: 0;
}
.Form .FieldArrayInputGroup .InputBlock {
  display: flex;
  justify-content: space-between;
}
.Form .FieldArrayInputGroup input, .Form .FieldArrayInputGroup textarea {
  flex: 1;
  font-size: 32px;
  border: none !important;
  padding: 0;
}
.Form .FieldArrayInputGroup input:active, .Form .FieldArrayInputGroup input:focus, .Form .FieldArrayInputGroup textarea:active, .Form .FieldArrayInputGroup textarea:focus {
  border-color: transparent !important;
}
.Form .FieldArrayInputGroup .Button {
  margin-right: 20px;
}
.Form p.Error {
  color: #e64545;
}

label {
  display: block;
}

.Onboarding {
  padding-bottom: 80px;
}
.Onboarding .TitleContainer {
  display: block !important;
  padding-bottom: 40px;
}
.Onboarding .Subtitle {
  font-size: 2em;
}
.Onboarding a.Step {
  align-items: center;
  display: flex;
  margin-bottom: 80px;
}
.Onboarding a.Step:last-child {
  margin-bottom: 0;
}
.Onboarding a.Step .OnboardingImage {
  max-height: 150px;
  margin-right: 80px;
}
.Onboarding a.Step .OnboardingDescriptionTitleText {
  margin: 0;
  font-size: 3em;
}
.Onboarding a.Step .OnboardingDescriptionSubtitleText {
  margin: 0;
  font-size: 1.5em;
}
.Onboarding .ButtonContainer {
  display: flex;
  justify-content: center;
}
.Onboarding .ButtonContainer a {
  display: flex;
  justify-content: center;
}
.Onboarding .ButtonContainer .Button {
  font-size: 1.5em !important;
}

@media only screen and (max-width: 600px) {
  .Onboarding .Title {
    font-size: 2em;
  }
  .Onboarding .Subtitle {
    font-size: 1.25rem;
  }

  .Step {
    flex-direction: column;
    justify-content: center;
  }
  .Step .OnboardingImage {
    margin-right: 0 !important;
  }
  .Step .OnboardingDescriptionTitleText {
    text-align: center;
    font-size: 1.75em !important;
    margin-bottom: 20px !important;
  }
  .Step .OnboardingDescriptionSubtitleText {
    text-align: center;
    font-size: 1.25rem !important;
  }
}
.HeroTitle {
  font-size: 50px !important;
  font-family: "titlefont", "Cooper Lt BT", "sans-serif";
  font-weight: normal;
  line-height: 56px;
  min-height: 56px;
}

.HeroSubTitle {
  font-size: 28px !important;
  font-family: "Lato Light";
  font-weight: normal;
  line-height: 34px;
  min-height: 34px;
}

.Title {
  font-size: 26px !important;
  font-family: "titlefont", "Cooper Lt BT", "sans-serif";
  font-weight: normal;
  margin-top: 0 !important;
}

p {
  font-size: 22px !important;
  font-family: "Lato Light";
  font-weight: normal;
  margin-bottom: 0;
}

.TitleFont {
  font-family: "titlefont", "Cooper Lt BT", "sans-serif";
  font-weight: normal;
}

.dropdown i.Icon {
  margin-right: 10px !important;
}

.Tag {
  background: #444447;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: inline-block;
}
.Tag i.Icon {
  margin-right: 5px;
}

.SubTitleContainer .Tag {
  margin-top: 20px;
}

@font-face {
  font-family: "titlefont";
  src: url("https://app.checkmate.best/fonts/titlefont.ttf") format("truetype");
}
html, body {
  margin: 0;
  padding: 0;
}

*:not(i) {
  box-sizing: border-box;
  color: #333;
}

a:hover {
  color: #333 !important;
}

input, textarea, button {
  outline: none;
}

/*# sourceMappingURL=styles.css.map */
